.ads {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 50vw;
    z-index: 5500;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 0px rgba(255, 255, 255, 0.2), inset -2px -2px 0px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(20px);
}

.ads {
    animation-name: slide-ads;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.ads .fa-times:hover {
    mix-blend-mode: hard-light;
}

@keyframes slide-ads {

    0%,
    10% {
        right: -100%;
    }

    20% {
        right: 20px;
    }

    97% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}