@media(min-width: 992px) {
    .santo {
        font-size: 2rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 2rem !important;
    }
    .photo-left,
    .photo-right {
        position: relative;
        height: 95vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .hidden-left-bar .fa-times {
        position: absolute;
        right: 10%;
        top: 15vh;
    }
    /* Hidden Left Navbar */
    .hidden-left-bar-sm {
        width: 40% !important;
        padding-left: 8%;
    }
    .hidden-left-bar ul li a {
        font-size: 1.75rem;
    }
}


/* Max width */

@media(max-width:1399.9px) {
    .santo {
        font-size: 2rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 2rem !important;
    }
}

@media(max-width:1199.9px) {
    .santo {
        font-size: 1.75rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 1.75rem !important;
    }
}

@media(max-width:991.9px) {
    .santo {
        font-size: 1.5rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 1.5rem !important;
    }
}

@media(max-width:767.9px) {
    .santo {
        font-size: 1.25rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 1.25rem !important;
    }
}

@media(max-width:575.9px) {
    .santo {
        font-size: 1.25rem !important;
        font-weight: bold;
    }
    .khan {
        font-size: 1.25rem !important;
    }
}