.svg-background-01 {
    position: relative;
    height: 100vh;
    padding: 5rem;
    background-image: url(https://lh3.googleusercontent.com/rITKSHgZojQVQB6ndFf1H6sVfvVfs_-TG8jxdCABCvCgyuVLfvNbz0QaGr4qKxz-nMu6kBv6a4qJXhGtgtcELcmFpqZ8-C7GYS0ccoHh84Zs-agKPE9DJvkZhuWZBNczs6A8geLxdXelNogBhXBAc0PPtN2r2PJSCtfpigLvdBuI6xqGZzMnvjZtzS6ayBGmPmXhYYWR0uQAgfzt6c3prFXKiuMXsANBVq-q9YzbraBDUcM7rsUWrkz9ZL4F_DqH2EzJgCtyTPTaM-mpWCHG8MLpX7wIYNN2OJQAP_Qt3iuQLiNVPiopx-e1OrmhZWB7tkB6ZXzvp8TZ0_jK_08MmcMTdPbKA4FkPIMsGKm4NKvh62gdPGOpwyRvvzV849HJ9OOC6kbM_nbKlpNJMGI0pDkMajbjKrBPuoJOQ38502-1tknrj_yv9usH9By5MFyXnYfS-czM4gbVip9dnQYNKX8NaCOT8iDwglk_2cn8BoGJJQGpDHypP2gBqQOvSTzYmg2rzNYIhIos3u_rxnnM9xl1LdAn0ueR_DhUMWar-9gDrBF6j3UA_7jwnjGMNJ4qWQMJjjjkHyRyjs9R_0K-N1xdp7Q6WTuW2Xa2f2K0EZhW1jc0X4SEJlzdSyMRFlNlR-BwvZPw-XfXDmKCEmnZq5Ev27h-smQMoU_gcPSL6pijs1xLc153V3w2YEQ47I6hdZBnC8ItsZtXjPhOHSDslf1_=w612-h827-no?authuser=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.svg-background-01 .contact-details {
    padding-left: 2rem;
}

.svg-background-01 table {
    color: #fff;
}

.svg-background-01 .icons {
    color: #fff;
}
