.banner-img {
    position: relative !important;
    width: 100vw !important;
    overflow-x: hidden !important;
}

.right-layout .banner-img h1 {
    position: absolute !important;
    left: 30% !important;
    top: 40% !important;
    transform: translateX(-50%) !important;
}