.banner-img {
    position: relative;
    width: 100vw;
}

.right-layout .banner-img h1 {
    position: absolute;
    left: 30%;
    top: 40%;
    /* transform: translateY(-50%); */
    transform: translateX(-50%);
}