.profile-page .profile {
    position: relative;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 100%;
    border: 6px solid transparent;
    box-shadow: 0 0 0 3px #ffffff;
    filter: brightness(60%);
    z-index: 1050;
}

.profile-page .profile:hover {
    animation: brighten 1s ease-out forwards;
}

.profile-page .profile img {
    width: 100%;
    height: auto;
}