/* _____________Default_____________ */
:root,
[data-theme="day"] {
  --poppins: "Poppins", sans-serif;
  --bg-page: #ffffff;
  --txt-color: #090f20;
  /* Navbar */
  --nav-toggler-txt: #090f20;
  --nav-toggler-bg: #ffffff;
  --nav-toggler-border: #090f20;
  --nav-toggler-focus: rgba(9, 15, 32, 0.1);
  --nav-link: #090f20;
  --nav-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  --sub-title: #555555;
  --banner-txt: #4070f4;
  --social-icon-txt: #090f20;
  --social-icon-txt-hover: hsl(224, 56%, 30%);
  --bg-dropdown: #ffffff;
  --data-toggler-color: #000000;
  /* Button */
  --s-btn-bg: #4070f4;
  --s-btn-bg-hover: hsl(224, 89%, 55%);
  --s-btn-shadow: 0 0 0 0.25rem rgba(64, 112, 244, 0.3);
  --s-btn-txt: #ffffff;
  /* Skills */
  --skil-bg: rgba(62, 111, 244, 0.05);
  --skil-card-bg: #ffffff;
  --skil-card-txt: hsl(224, 56%, 8%);
  --skil-card-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  --range-bg: hsl(0, 0%, 80%);
  --range: rgb(64, 112, 244);
  /* Contact */
  --f-input-bg: rgba(64, 112, 244, 0.1);
  --f-input-txt: hsl(0, 0%, 40%);
  /* Footer */
  --bg-footer: #4070f4;
  --footer-txt: #ffffff;
}
/* _____________Dark mode_____________ */
[data-theme="night"] {
  --poppins: "Poppins", sans-serif;
  --bg-page: #090f20;
  --txt-color: white;
  /* Navbar */
  --nav-toggler-txt: #ffffff;
  --nav-toggler-bg: #090f20;
  --nav-toggler-border: #ffffff;
  --nav-toggler-focus: rgba(255, 255, 255, 0.1);
  --nav-link: #ffffff;
  --nav-shadow: 0 0.5px rgba(255, 255, 255, 0.3);
  --sub-title: #ffffff;
  --banner-txt: #4070f4;
  --social-icon-txt: #ffffff;
  --social-icon-txt-hover: #ffffff;
  --bg-dropdown: #090f20;
  --data-toggler-color: #ffffff;
  /* Button */
  --s-btn-bg: #4070f4;
  --s-btn-bg-hover: hsl(224, 89%, 55%);
  --s-btn-shadow: 0 0 0.25rem rgba(64, 112, 244, 0.3);
  --s-btn-txt: #ffffff;
  /* Skills */
  --skil-bg: rgba(62, 111, 244, 0.05);
  --skil-card-bg: #ffffff;
  --skil-card-txt: #090f20;
  --skil-card-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  --range-bg: hsl(0, 0%, 80%);
  --range: #4070f4;
  /* Contact */
  --f-input-bg: rgba(64, 112, 244, 0.1);
  --f-input-txt: white;
  /* Footer */
  --bg-footer: #4070f4;
  --footer-txt: #ffffff;
  transition: 0.25s ease-out;
}

/* ____________@Media Queries____________ */
@media (max-width: 1600px) and (min-width: 1200px) {
  :root {
    --section-height: 100vh;
  }
}

::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: var(--bg-page);
}
::-webkit-scrollbar-thumb {
  background-color: var(--txt-color);
  border-radius: 1rem;
}

/* __________________________________:root end____________________________________ */
/* _____________Global_____________ */
*,
*::before,
*::after {
  font-family: var(--poppins);
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  scroll-behavior: smooth;
}

html,
body,
body[data-theme="day"],
body[data-theme="night"] {
  color: var(--txt-color);
  background-color: var(--bg-page) !important;
}

/* _____________Header_____________ */

.app__header {
  z-index: 110;
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-color);
  background-color: var(--bg-page);
  box-shadow: var(--nav-shadow);
}

.app__header .top__bar {
  width: 100%;
  /* max-width: 1140px; */
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.top__bar .logo {
  font-size: 1rem;
  cursor: pointer;
}

.top__bar .nav__container {
  display: flex;
  align-items: center;
}

.top__bar .nav__toggler {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--nav-toggler-txt);
  background: var(--nav-toggler-bg);
  border-radius: 0.25rem;
  /* border: 0.25px solid var(--nav-toggler-border); */
  border: none;
  margin-right: 0.5rem;
  padding: 0;
  transition: 0.25s ease-out;
}

.nav__toggler svg {
  fill: none;
}

.nav__toggler svg path {
  stroke: var(--txt-color);
}

.top__bar .nav__toggler:hover {
  background: var(--nav-toggler-bg);
  /* border: 0.25px solid var(--nav-toggler-border); */
}

.top__bar .nav__toggler:focus {
  background: var(--nav-toggler-bg);
  box-shadow: 0 0 0 0.25rem var(--nav-toggler-focus);
}

.top__bar .nav__box {
  display: none !important;
}

/* Onclick */

.nav__box__expand {
  z-index: -10;
  display: block !important;
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  padding: 1rem;
  background: var(--bg-dropdown);
  border-radius: 0.25rem;
  transform-origin: top right;
}

.nav__box__expand > .nav__item {
  padding: 0.5rem 0;
}

.top__bar nav .nav__link {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--nav-link);
  text-transform: capitalize !important;
}

.top__bar nav .nav__link:hover {
  opacity: 0.7;
}

.data__toggler .fas {
  transition: all 0.5s ease-in-out;
  margin-left: 1rem;
}

.data__toggler .fa-sun {
  color: var(--data-toggler-color);
}

.data__toggler .fa-sun:hover {
  color: var(--data-toggler-color);
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

.data__toggler .fa-moon {
  color: var(--data-toggler-color);
}

.data__toggler .fa-moon:hover {
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

/* _____________Main____________ */

main {
  position: relative;
  color: var(--txt-color);
  background-color: var(--bg-page);
}

.section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.section__header {
  text-align: center;
  color: var(--txt-color);
}

.section__header > .title {
  font-size: 1.5rem;
}

.section__header > .slogun {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
}

/* _____________Home____________ */

main .home {
  padding: 4rem 0 0 0;
  max-height: var(--section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.home__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  z-index: 11;
}

.home__row > .home__col:first-child {
  width: 100%;
  padding: 1rem;
}

.home__row > .home__col:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 2rem 0; */
}

.home .banner {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.home .banner > .name {
  color: var(--banner-txt);
}
.banner__container {
  margin: 3rem;
}
.santo__btn {
  background-color: var(--s-btn-bg);
  border-radius: 0.75rem;
  color: #ffffff;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
  border: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140px;
  /* z-index: 520; */
}

.santo__btn .messenger {
  fill: #ffffff;
  width: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.santo__btn:hover {
  color: #ffffff;
  background-color: var(--s-btn-bg-hover);
}

.santo__btn:focus {
  transition: box-shadow 0.125s ease-out;
  box-shadow: var(--s-btn-shadow);
}

.home .banner__img {
  -webkit-user-drag: none;
}

.home .scroll__button {
  display: none;
}

.home .social__icon {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  /* z-index: 512; */
}

.home .social__icon .icon {
  position: relative;
  color: var(--social-icon-txt);
  margin: 0.5rem 0;
  font-size: 1.25rem;
  transition: all 0.25s ease-out;
}

.home .social__icon .icon:hover {
  margin: 0.5rem 0;
  color: var(--social-icon-txt-hover);
  transform: translateY(-5px);
}

/* ___________About___________ */

.about {
  padding: 0 0 2rem 0;
  max-height: var(--section-height);
}

.section .section__title,
.title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--txt-color);
}

.about .about__row {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.about .about__col {
  width: 100%;
  flex: 0 0 auto;
  padding: 1rem;
}

.about .info__container {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.about .info__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.25px solid var(--txt-color);
  padding: 0.75rem;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.info__box .info {
  text-align: center;
  color: var(--txt-color);
}

.info__box .info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--txt-color);
  margin: 0;
}
.info__box .info p {
  line-height: 1.25;
}

.text-justify {
  text-align: justify;
}

.big-txt {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  float: left;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
}

/* ___________Skills___________ */

.skills {
  padding: 2.25rem 0 2.5rem 0;
  /* min-height: var(--section-height); */
  background: var(--skil-bg);
}

.skills .skil__row {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skil__row > .skil__col {
  width: 50%;
  min-width: 340px;
  flex: 100%;
  padding: 0;
}
.d-none {
  display: none;
}
.skil__item > .skil__header {
  display: flex;
  justify-content: space-between;
}
.front__end,
.front__designer,
.back__end {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  font-size: 1.125rem;
  font-family: var(--poppins);
  color: var(--skil-card-txt);
  background-color: var(--skil-card-bg);
  transition: all 0.25s ease-out;
}

.front__end:hover,
.front__designer:hover,
.back__end:hover {
  box-shadow: var(--skil-card-shadow);
}

.front__end .trigger,
.front__designer .trigger,
.back__end .trigger {
  display: flex;
  justify-content: space-between;
}
.skil__title {
  font-weight: 500;
}
.skills .skil__box {
  padding-top: 1rem;
}

.skills .skil__box .skil__item {
  padding: 0.5rem 0;
}

.skills .fab {
  margin-right: 0.25rem;
}
.skil__txt {
  margin: 0 0.25rem;
}
.skills .range {
  margin: 0.25rem 0 0 0;
  position: relative;
  background-color: var(--range-bg);
  padding: 0.125rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.skills .range > span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /* width: 80%; */
  background-color: var(--range);
  padding: 0.125rem;
  border-radius: 0.5rem;
}

/* ___________Portfolio___________ */

.portfolio {
  padding: 3rem 0;
}

.portfolio .grid {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
}
.grid .grid__item {
  padding: 1rem;
}
.grid__item .grid__top {
  border-radius: 0.75rem;
  border: 0.25px groove rgba(0, 0, 0, 0.3);
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.grid__item .grid__top:hover > .effect {
  font-size: 1.5rem;
  color: #555;
  transform: scale(1);
  border-radius: 0;
}

.grid__top img {
  width: 100%;
  object-fit: cover;
}

.grid__item .effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  transform-origin: 0 0;
  transform: scale(0);
  border-radius: 0 0 3rem 0;
  transition: transform 0.3s ease-out;
}

.grid__item .grid__des {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}

.grid__item .grid__des .grid__title {
  font-size: 1rem;
  font-weight: 500;
}

/* .portfolio .img__container {
  width: 100%;
  padding: 0 1rem;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .img__container > img {
  flex: 100%;
  width: 100%;
  margin: 0.5rem;
  object-fit: contain;
} */

/* ___________Work or Service___________ */

.work {
  padding: 1rem;
  background-color: #000;
  color: #ffffff;
}
.work summary {
  color: #ffffff;
}
.work .web {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: 1rem;
}
.work .section__header .title,
.work .section__header .slogun {
  color: #ffffff;
}

/* .section.work .web .web__img {
  border-radius: 1rem;
} */

/* ___________Contact___________ */

.contact {
  margin-top: 3rem;
  padding: 0 0.5rem 1.75rem 0.5rem;
  max-height: var(--section-height);
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.contact form {
  margin: 0;
  padding: 1rem;
}

.contact form input,
.contact form textarea {
  padding: 0.5rem 1rem 2rem 1rem;
  border-radius: 1.25rem;
  background: var(--f-input-bg);
  border: 1px solid transparent;
  outline: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: var(--f-input-txt);
}

.contact .input__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.contact .input__box:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contact form [name="input_email"],
.contact form textarea {
  width: 100%;
}

.contact form [name="first_name"],
.contact form [name="last_name"] {
  width: 50%;
}

.contact form [name="first_name"] {
  margin: 0 1rem 0 0;
}

/* ___________Footer___________ */

.app__footer {
  background-color: var(--bg-footer);
  color: var(--footer-txt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}

.app__footer .footer__logo {
  font-size: 2rem;
  font-weight: 500;
}

.app__footer .social__icon {
  margin: 1.25rem 0;
}

.app__footer .social__icon a {
  text-decoration: none;
  color: var(--footer-txt);
  padding: 0.5rem;
  margin: 2rem 0;
  font-size: 1.25rem;
}

.app__footer .social__icon a:hover {
  text-decoration: none;
  color: var(--footer-txt);
  padding: 0.5rem;
  margin: 2rem 0;
}

/* _____________Page Loader_____________ */

/* I have added these css into loader.js */
/* .loader__box {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.loader__box .loader {
  -webkit-animation: loader-rotate 2s infinite;
  animation: loader-rotate 2s infinite;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* ____________________________Media Queries________________________________ */

@media (min-width: 572px) {
  /* ________________Main________________ */
  .section__header > .title {
    font-size: 2.5rem;
  }
  .section__header > .slogun {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  /* ____________Home____________ */
  .home .scroll__button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--txt-color);
    font-weight: 500;
    text-decoration: none;
    z-index: 511;
  }
  .home__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }
  .home .scroll__button:hover {
    color: var(--txt-color);
  }
  .home .scroll__button .mouse {
    position: relative;
    width: 16px;
    height: 22px;
    border-radius: 32px;
    padding: 1.125rem 0.75rem;
    border: 1px solid var(--txt-color);
    margin-right: 0.5rem;
  }
  .home .scroll__button .mouse::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    top: 10%;
    width: 2px;
    height: 8px;
    background-color: var(--banner-txt);
    border-radius: 5px;
    -webkit-animation: mouse 1s ease-in-out infinite;
    animation: mouse 1s ease-in infinite;
  }
  @keyframes mouse {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(2px);
    }
  }

  .home .social__icon {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  /* __________________About__________________ */

  .about {
    padding-top: 64px;
    max-height: var(--section-height);
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--txt-color);
  }
  .about article {
    margin: 6rem 0;
  }
  .about .about__row {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .about__col {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 340;
    padding: 1rem;
  }
  .about .santo__about {
    margin: 0;
  }
  .info__box .info h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--txt-color);
  }

  /* ___________Skills___________ */
  .skills {
    padding: 4.25rem 0 2.5rem 0;
    /* height: var(--section-height); */
    /* min-height: var(--section-height); */
    background: var(--skil-bg);
  }
  .skills .skil__row {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skil__row > .skil__col {
    padding: 0.5rem;
    width: 50%;
    flex: 0 0 auto;
  }

  /* __________Portfolio__________ */
  .portfolio .grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .grid .grid__item {
    padding: 0;
  }

  /* ___________Contact___________ */
  .section.contact {
    padding-top: 4rem 0 0 0;
  }
  .contact form {
    margin: 3rem 0 0 0;
    width: 500px;
  }

  /* ___________Footer___________ */
  .app__footer {
    margin-top: 64px;
  }
  .app__footer {
    padding: 2.5rem 1rem 2rem 1rem;
  }
  .app__footer .footer__logo {
    font-size: 2rem;
    font-weight: 600;
  }
  .app__footer .social__icon {
    margin: 2rem 0;
  }
}

@media (min-width: 768px) {
  /* _____________Home____________ */
  .app__main .home {
    padding: 4rem 0 0 0;
    max-height: var(--section-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home__row > .home__col:first-child {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .home__row > .home__col:last-child {
    flex: 0 0 auto;
    width: 58.3333333333%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* ___________Portfolio___________ */
  .portfolio {
    padding-top: 4rem;
    /* height: var(--section-height); */
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio .section__sub__title {
    margin-bottom: 1rem;
  }
  /* .portfolio .img__container {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  }
  .portfolio .img__container > img {
    flex: 1;
    margin: 0.5rem;
    object-fit: contain;
  } */
  /* ___________Contact___________ */
  .contact form {
    margin: 3rem 0 0 0;
  }
}

@media (min-width: 992px) {
  /* ___________Header___________ */
  .top__bar .nav__toggler {
    display: none;
    color: var(--nav-toggler-txt);
    background: var(--nav-toggler-bg);
    border-radius: 0.25rem;
    /* border: 0.25px solid var(--nav-toggler-border); */
    margin-right: 0.5rem;
  }
  .top__bar .nav__box {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  .top__bar .nav__toggler {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* _____________Home____________ */
  .home .banner {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .top__bar {
    margin: 0;
    padding: 0 1rem; /* Will be 0 in sm*/
  }
  /* ___________Portfolio___________ */
  .portfolio {
    position: relative;
    padding-top: 4rem;
    /* min-height: var(--section-height); */
    max-width: 1140px;
  }
  .portfolio .grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .grid .grid__item {
    padding: 0;
  }
  .santo__btn {
    max-width: 160px;
    font-size: 1rem;
  }
  /* ___________Contact___________ */
}
