@import "styles/var.css";

/* _____________Default_____________ */

* {
    font-family: var(--poppins);
}

body {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body[data-theme="day"],
body[data-theme="night"] {
    color: var(--txt-color);
    background-color: var(--bg-page);
}


/* _____________Header_____________ */

header {
    z-index: 101;
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--txt-color);
    background-color: var(--bg-page);
    box-shadow: var(--nav-shadow);
}

header .topbar {
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .logo {
    font-size: 1rem;
    cursor: pointer;
}

.topbar nav a {
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--nav-link);
}

.topbar nav a:hover {
    opacity: 0.7;
}

.data-toggler .fas {
    transition: all 0.5s ease-in-out;
    margin-left: 1rem;
}

.data-toggler .fa-sun {
    color: #000000;
}

.data-toggler .fa-sun:hover {
    color: #000000;
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
}

.data-toggler .fa-moon {
    color: white;
}

.data-toggler .fa-moon:hover {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
}


/* _____________Main____________ */

main {
    position: relative;
    color: var(--txt-color);
    background-color: var(--bg-page);
}


/* _____________Home____________ */

main .home {
    padding-top: 64px;
    display: flex;
    height: var(--section-height);
    justify-content: center;
    align-items: center;
}

.home .banner {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.home .banner>.name {
    color: var(--banner-txt);
}

.santo__btn {
    background-color: var(--s-btn-bg);
    border-radius: 0.75rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    outline: none;
    border: transparent;
}

.messenger {
    fill: #ffffff;
}

.santo__btn>span {
    margin-right: 0.25rem;
}

.santo__btn:hover {
    color: #ffffff;
    background-color: var(--s-btn-bg-hover);
}

.santo__btn:focus {
    transition: box-shadow 0.125s ease-out;
    box-shadow: var(--s-btn-shadow);
}

.home .scroll__bottom {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--txt-color);
    font-weight: 500;
    text-decoration: none;
}

.home .scroll__bottom:hover {
    color: var(--txt-color);
}

.home .scroll__bottom .mouse {
    position: relative;
    width: 16px;
    height: 22px;
    border-radius: 32px;
    padding: 1.125rem 0.75rem;
    border: 1px solid var(--txt-color);
    margin-right: 0.5rem;
}

.home .scroll__bottom .mouse::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    top: 10%;
    width: 2px;
    height: 8px;
    background-color: var(--banner-txt);
    border-radius: 5px;
    -webkit-animation: mouse 1s ease-in-out infinite;
    animation: mouse 1s ease-in infinite;
}

@keyframes mouse {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(2px);
    }
}

.home .social__icon {
    display: flex;
    flex-direction: column;
}

.home .social__icon .icon {
    position: relative;
    color: var(--social-icon-txt);
    margin: 0.5rem 0;
    font-size: 1.25rem;
    transition: all 0.25s ease-out;
}

.home .social__icon .icon:hover {
    margin: 0.5rem 0;
    color: var(--social-icon-txt-hover);
    transform: translateY(-4px);
}


/* ___________About___________ */

.section.about {
    padding-top: 64px;
    height: var(--section-height);
}

.about .santo__about {
    border-radius: 75px;
}

.section .section-title,
.title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--txt-color);
}

.section .section-sub-title,
.sub-title {
    font-size: 1rem;
    text-align: center;
    color: var(--sub-title);
}

.text-justify {
    text-align: justify;
}


/* ___________Skills___________ */

.section.skills {
    padding-top: 68px;
    height: var(--section-height);
    background: var(--skil-bg);
}

.front__end,
.front__designer,
.back__end {
    margin: 1rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-family: var(--poppins);
    color: var(--skil-card-txt);
    background-color: var(--skil-card-bg);
    transition: all 0.25s ease-out;
}

.front__end:hover,
.front__designer:hover,
.back__end:hover {
    box-shadow: var(--skil-card-shadow);
}

.front__end .trigger,
.front__designer .trigger,
.back__end .trigger {
    display: flex;
    justify-content: space-between;
}

.skills .fab {
    margin-right: 0.25rem;
}

.skills .range {
    margin: 0.25rem 0 0 0;
    position: relative;
    background-color: var(--range-bg);
    padding: 0.125rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.skills .range::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    background-color: var(--range);
    padding: 0.125rem;
    border-radius: 0.5rem;
}

.skills .skil__box {
    padding-top: 1rem;
}


/* ___________Work___________ */

.section.work {
    padding-top: 68px;
    height: var(--section-height);
}


/* ___________Portfolio___________ */

.section.portfolio {
    padding-top: 64px;
    height: var(--section-height);
}


/* ___________Contact___________ */

.section.contact {
    padding-top: 64px;
    height: var(--section-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    margin: 5rem 0 0 0;
    padding: 1rem;
    width: 500px;
}

.contact form input,
.contact form textarea {
    padding: 0.5rem 1rem 2rem 1rem;
    border-radius: 1.25rem;
    background: var(--f-input-bg);
    border: 1px solid transparent;
    outline: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: var(--f-input-txt);
}

.contact .input__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.contact .input__box:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contact form [name="input_email"],
.contact form textarea {
    width: 100%;
}

.contact form [name="first_name"],
.contact form [name="last_name"] {
    width: 50%;
}

.contact form [name="first_name"] {
    margin: 0 1rem 0 0;
}


/* ___________Footer___________ */

footer {
    margin-top: 64px;
    background-color: var(--bg-footer);
    height: 30vh;
    color: var(--footer-txt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer__logo {
    font-size: 2.5rem;
    font-weight: 600;
}

footer .social__icon {
    margin: 2rem 0;
}

footer .social__icon a {
    text-decoration: none;
    color: var(--footer-txt);
    padding: 0.5rem;
    margin: 2rem 0;
    font-size: 1.25rem;
}

footer .social__icon a:hover {
    text-decoration: none;
    color: var(--footer-txt);
    padding: 0.5rem;
    margin: 2rem 0;
}


/* _____________Page Loader_____________ */

.loader__box {
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__box .loader {
    -webkit-animation: loader-rotate 2s infinite;
    animation: loader-rotate 2s infinite;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}