/* _____________Default_____________ */

:root {
  --poppins: "Poppins", sans-serif;
  --bg-page: #ffffff;
  --txt-color: #090f20;
  /* Navbar */
  --nav-toggler-txt: #090f20;
  --nav-toggler-bg: #ffffff;
  --nav-toggler-border: #090f20;
  --nav-toggler-focus: rgba(9, 15, 32, 0.1);
  --nav-link: #090f20;
  --nav-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  --sub-title: #555555;
  --banner-txt: #4070f4;
  --social-icon-txt: #090f20;
  --social-icon-txt-hover: hsl(224, 56%, 30%);
  --bg-dropdown: #ffffff;
  --data-toggler-color: #000000;
  /* Button */
  --s-btn-bg: #4070f4;
  --s-btn-bg-hover: hsl(224, 89%, 55%);
  --s-btn-shadow: 0 0 0 0.25rem rgba(64, 112, 244, 0.3);
  --s-btn-txt: #ffffff;
  /* Skills */
  --skil-bg: rgba(62, 111, 244, 0.05);
  --skil-card-bg: #ffffff;
  --skil-card-txt: hsl(224, 56%, 8%);
  --skil-card-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  --range-bg: hsl(0, 0%, 80%);
  --range: rgb(64, 112, 244);
  /* Contact */
  --f-input-bg: rgba(64, 112, 244, 0.1);
  --f-input-txt: hsl(0, 0%, 40%);
  /* Footer */
  --bg-footer: #4070f4;
  --footer-txt: #ffffff;
}

/* _____________Dark mode_____________ */

[data-theme="night"] {
  --poppins: "Poppins", sans-serif;
  --bg-page: #090f20;
  --txt-color: white;
  /* Navbar */
  --nav-toggler-txt: #ffffff;
  --nav-toggler-bg: #090f20;
  --nav-toggler-border: #ffffff;
  --nav-toggler-focus: rgba(255, 255, 255, 0.1);
  --nav-link: #ffffff;
  --nav-shadow: 0 0.5px rgba(255, 255, 255, 0.3);
  --sub-title: #ffffff;
  --banner-txt: #4070f4;
  --social-icon-txt: #ffffff;
  --social-icon-txt-hover: #ffffff;
  --bg-dropdown: #090f20;
  --data-toggler-color: #ffffff;
  /* Button */
  --s-btn-bg: #4070f4;
  --s-btn-bg-hover: hsl(224, 89%, 55%);
  --s-btn-shadow: 0 0 0.25rem rgba(64, 112, 244, 0.3);
  --s-btn-txt: #ffffff;
  /* Skills */
  --skil-bg: rgba(62, 111, 244, 0.05);
  --skil-card-bg: #ffffff;
  --skil-card-txt: #090f20;
  --skil-card-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  --range-bg: hsl(0, 0%, 80%);
  --range: #4070f4;
  /* Contact */
  --f-input-bg: rgba(64, 112, 244, 0.1);
  --f-input-txt: white;
  /* Footer */
  --bg-footer: #4070f4;
  --footer-txt: #ffffff;
  transition: 0.25s ease-out;
}

/* ____________@Media Queries____________ */

@media (max-width: 1600px) and (min-width: 1200px) {
  :root {
    --section-height: 100vh;
  }
}

/* __________________________________:root end____________________________________ */

/* _____________Global_____________ */

*,
*::before,
*::after {
  font-family: var(--poppins);
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body[data-theme="day"],
body[data-theme="night"] {
  color: var(--txt-color);
  background-color: var(--bg-page);
}

/* _____________Header_____________ */

.app__header {
  z-index: 110;
  position: fixed;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-color);
  background-color: var(--bg-page);
  box-shadow: var(--nav-shadow);
}

.app__header .top__bar {
  width: 100%;
  /* max-width: 1140px; */
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.top__bar .logo {
  font-size: 1rem;
  cursor: pointer;
}

.top__bar .nav__container {
  display: flex;
  align-items: center;
}

.top__bar .nav__toggler {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--nav-toggler-txt);
  background: var(--nav-toggler-bg);
  border-radius: 0.25rem;
  /* border: 0.25px solid var(--nav-toggler-border); */
  border: none;
  margin-right: 0.5rem;
  padding: 0;
  transition: 0.25s ease-out;
}

.nav__toggler svg {
  fill: none;
}

.nav__toggler svg path {
  stroke: var(--txt-color);
}

.top__bar .nav__toggler:hover {
  background: var(--nav-toggler-bg);
  /* border: 0.25px solid var(--nav-toggler-border); */
}

.top__bar .nav__toggler:focus {
  background: var(--nav-toggler-bg);
  box-shadow: 0 0 0 0.25rem var(--nav-toggler-focus);
}

.top__bar .nav__box {
  display: none !important;
}

/* Onclick */

.nav__box__expand {
  z-index: -10;
  display: block !important;
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  padding: 1rem;
  background: var(--bg-dropdown);
  border-radius: 0.25rem;
  transform-origin: top right;
}

.nav__box__expand > .nav__item {
  padding: 0.5rem 0;
}

.top__bar nav .nav__link {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--nav-link);
  text-transform: capitalize !important;
}

.top__bar nav .nav__link:hover {
  opacity: 0.7;
}

.data__toggler .fas {
  transition: all 0.5s ease-in-out;
  margin-left: 1rem;
}

.data__toggler .fa-sun {
  color: var(--data-toggler-color);
}

.data__toggler .fa-sun:hover {
  color: var(--data-toggler-color);
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

.data__toggler .fa-moon {
  color: var(--data-toggler-color);
}

.data__toggler .fa-moon:hover {
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

/* _____________Main____________ */

main {
  position: relative;
  color: var(--txt-color);
  background-color: var(--bg-page);
}

.section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.section__header {
  text-align: center;
  color: var(--txt-color);
}

.section__header > .title {
  font-size: 1.5rem;
}

.section__header > .slogun {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
}

/* ___________About___________ */

.about {
  padding: 0 0 2rem 0;
  max-height: var(--section-height);
}

.section .section__title,
.title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--txt-color);
}

.about .about__row {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.about .about__col {
  width: 100%;
  flex: 0 0 auto;
  padding: 1rem;
}

.about .info__container {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.about .info__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.25px solid var(--txt-color);
  padding: 0.75rem;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.info__box .info {
  text-align: center;
  color: var(--txt-color);
}

.info__box .info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--txt-color);
  margin: 0;
}
.info__box .info p {
  line-height: 1.25;
}

.text-justify {
  text-align: justify;
}

.big-txt {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  float: left;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
}

/* ___________Footer___________ */

.app__footer {
  background-color: var(--bg-footer);
  color: var(--footer-txt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}

.app__footer .footer__logo {
  font-size: 2rem;
  font-weight: 500;
}

.app__footer .social__icon {
  margin: 1.25rem 0;
}

.app__footer .social__icon a {
  text-decoration: none;
  color: var(--footer-txt);
  padding: 0.5rem;
  margin: 2rem 0;
  font-size: 1.25rem;
}

.app__footer .social__icon a:hover {
  text-decoration: none;
  color: var(--footer-txt);
  padding: 0.5rem;
  margin: 2rem 0;
}

/* _____________Page Loader_____________ */

.loader__box {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader__box .loader {
  -webkit-animation: loader-rotate 2s infinite;
  animation: loader-rotate 2s infinite;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* ____________________________Media Queries________________________________ */

@media (min-width: 572px) {
  /* ________________Main________________ */
  .section__header > .title {
    font-size: 2.5rem;
  }
  .section__header > .slogun {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  /* __________________About__________________ */

  .about {
    padding-top: 64px;
    max-height: var(--section-height);
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--txt-color);
  }
  .about article {
    margin: 6rem 0;
  }
  .about .about__row {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .about__col {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 340;
    padding: 1rem;
  }
  .about .santo__about {
    margin: 0;
  }
  .info__box .info h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--txt-color);
  }
  /* ___________Footer___________ */
  .app__footer {
    margin-top: 64px;
  }
  .app__footer {
    padding: 2.5rem 1rem 2rem 1rem;
  }
  .app__footer .footer__logo {
    font-size: 2rem;
    font-weight: 600;
  }
  .app__footer .social__icon {
    margin: 2rem 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /* ___________Header___________ */
  .top__bar .nav__toggler {
    display: none;
    color: var(--nav-toggler-txt);
    background: var(--nav-toggler-bg);
    border-radius: 0.25rem;
    /* border: 0.25px solid var(--nav-toggler-border); */
    margin-right: 0.5rem;
  }
  .top__bar .nav__box {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  .top__bar .nav__toggler {
    display: none;
  }
  /* ___________Contact___________ */
  .contact form {
    margin: 5rem 0 0 0;
  }
}
