@tailwind base;

@layer base {
  body {
    margin: 0;
    padding: 0;
  }

  /* ::-webkit-scrollbar {
    width: auto;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #090f20;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  } */
}

@tailwind components;
@tailwind utilities;
